# Zhi-Create-DSR1-14B
LILUO_WRITER_DSR1_BASE_URL=
LILUO_WRITER_DSR1_API_KEY=
LILUO_WRITER_DSR1_MODEL=Zhihu-ai/Zhi-Create-DSR1-14B

# Zhi-Create-Qwen3-32B
LILUO_WRITER_QWEN3_BASE_URL=
LILUO_WRITER_QWEN3_API_KEY=
LILUO_WRITER_QWEN3_MODEL=Zhihu-ai/Zhi-Create-Qwen3-32B
